{% extends "base.html" %}

{% block head %}
<h1>Test</h1>
{% endblock %}

{% block body %}
    <h1>Halteplan</h1>

        <div class="content">
            <table>
                <tr>
                    <th>Halteplan</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <a href=""> Delete</a>
                        <br>
                        <a href="">Update</a>
                    </td>
                </tr>
            </table>
        </div>
{% endblock %}
