{% extends "base.html" %}

{% block content %}
    <h1>New Route</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Name:</label>
        {{ form.name(class="form-control") }}
        <label for="trackWidth">Track Width:</label>
{{ form.trackWidth(class="form-control") }}
        <table class="table-station">
    <tr>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Track Width</th>
        <th>Action</th>
    </tr>
    {% for segment, start_station_name, end_station_name in segments %}
        <tr>
            <td>{{ start_station_name }}</td>
            <td>{{ end_station_name }}</td>
            <td>{{ segment.trackWidth }}</td>
            <td><a href="{{ url_for('routeNew', segment_id=segment.id) }}">Add</a></td>
        </tr>
    {% endfor %}
</table>

        <h2>Selected Segments</h2>
        <table class="table-station">
    <tr>
        <th>Start Station</th>
        <th>End Station</th>
        <th>Track Width</th>
        <th>Action</th>
    </tr>
    {% for segment, start_station_name, end_station_name in selected_segments %}
        <tr>
            <td>{{ start_station_name }}</td>
            <td>{{ end_station_name }}</td>
            <td>{{ segment.trackWidth }}</td>
            <td><a href="{{ url_for('routeNew', segment_id=segment.id, remove=True) }}">Remove</a></td>
        </tr>
    {% endfor %}
</table>

        <input type="submit" value="Create">
    </form>
{% endblock %}