{% extends "base.html" %}

{% block content %}
    <h1>Routes Overview</h1>
    <a href="{{ url_for('routeNew') }}" class="btn btn-primary">New</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Station</th>
                <th>End Station</th>
                <th>Track Width</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for route, start_station_name, end_station_name in routes %}
                <tr>
                    <td>{{ route.name }}</td>
                    <td>{{ start_station_name }}</td>
                    <td>{{ end_station_name }}</td>
                    <td>{{ route.trackWidth }}</td>
                    <td>
                        <a href="{{ url_for('routeEdit', route_id=route.id) }}" class="btn btn-warning">Edit</a>
                        <form action="{{ url_for('routeDelete', route_id=route.id) }}" method="POST" style="display: inline-block;">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}