{% extends "base.html" %}

{% block content %}
    <h1>Create New Segment</h1>
    <form method="POST" style="max-width: 500px;">

        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.startStation.label }} {{ form.startStation(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.endStation.label }} {{ form.endStation(class="form-control") }}
        </div>
        <div class="form-group">

            {{ form.trackWidth.label }}<br>
            {{ form.trackWidth(class="form-control") }}         </div>

        <div class="form-group">

            {{ form.length.label }}<br>
            {{ form.length(class="form-control") }}

        </div>
      <div class="form-group">
            {{ form.maxSpeed.label }}<br>
            {{ form.maxSpeed(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}
        </div>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}