{% extends "base.html" %}

{% block content %}
    <h1>Bahnhofübersicht</h1>

<table class="table-station" >
        <thead>
            <tr>
                   <th>ID</th>
                <th>Name</th>
                <th>Adresse</th>
                  {% if current_user.is_authenticated and current_user.isAdmin %}
                <th>zipcode</th>
                <th></th>
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for station, address in stations %}
                <tr>
                    <td >
                            ({{ station.id }})


                    </td>
                    <td>{{ station.name }}</td>
                    <td>{{ address.street }} {{ address.no }}, {{ address.city }}</td>
                    <td>{{ address.zipcode }}</td>
                      {% if current_user.is_authenticated and current_user.isAdmin %}
                    <td>
            <form action="{{ url_for('trainstationDelete', station_id=station.id) }}" method="post">
                <input type="submit" value="Löschen" class="edit-button">
            </form>
        </td>
        <td>
            <form action="{{ url_for('trainstationEdit', station_id=station.id) }}" method="post">
                <input type="submit" value="Bearbeiten" class="edit-button">
            </form>
        </td>
                         {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="create_button" href="{{ url_for('trainstationNew') }}">Neu</a>

{% endblock %}