{% extends "base.html" %}

{% block content %}
    <h1>Create New Warning</h1>
    <form method="POST" action="{{ url_for('warningNew') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description.label }}<br>
            {{ form.description(size=100) }}
        </div>
        <p>
            {{ form.validFrom.label }}<br>
            <input type="text" id="validFrom" name="validFrom" required>
        </p>
        <p>
            {{ form.validTo.label }}<br>
            <input type="text" id="validTo" name="validTo" required>
        </p>
        <p>
            {{ form.segment.label }}<br>
            {{ form.segment() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        $( function() {
            $( "#validFrom" ).datepicker({ dateFormat: 'yy-mm-dd' });
            $( "#validTo" ).datepicker({ dateFormat: 'yy-mm-dd' });
        } );
    </script>
{% endblock %}