{% extends "base.html" %}

{% block content %}
    <h1>Wagen erstellen</h1>
    <h1>Triebwagen erstellen</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.track_width.label(class="form-label") }}
            {{ form.track_width(size=32, class="form-control") }}
            {% for error in form.track_width.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group">
            {{ form.max_tensile_force.label(class="form-label") }}
            {{ form.max_tensile_force(size=32, class="form-control") }}
            {% for error in form.max_tensile_force.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">speichern</button>
    </form>
{% endblock %}
