{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .search-container {
        background: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        max-width: 600px;
        margin: 20px auto;
    }

    input[type="text"], input[type="email"], input[type="date"], input[type="time"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        outline: none;
        background-color: #fff;
        font-size: 16px;
    }

    input[type="date"]:focus, input[type="time"]:focus {
        border-color: #4169E1;
        box-shadow: 0 0 8px rgba(65, 105, 225, 0.6);
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-weight: bold;
    }

    button {
        background-color: rgb(64, 38, 237);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        display: block;
        width: 100%;
        margin-top: 10px;
    }
</style>
<div class="search-container">
    <h2>Ticketsuche</h2>
    <form>
        <div>
            <label for="from">Von</label>
            <input type="text" id="from" name="from" placeholder="WIEN">
        </div>
        <div>
            <label for="to">Nach</label>
            <input type="text" id="to" name="to" placeholder="LINZ">
        </div>
        <div>
            <label for="date">Datum</label>
            <input type="date" id="date" name="date">
        </div>
        <div>
            <label for="time">Zeit</label>
            <input type="time" id="time" name="time">
        </div>
        <button type="submit">Suchen</button>
    </form>
</div>
{% endblock %}
