{% extends "prelogin.html" %}

{% block content %}
    <style>
        .content-area {
        width: 20%;
        position: absolute;
        right: 20%;
        top: 10%;
        justify-content: center;
        height: 100vh;
    }
    </style>
    <h1>Registrierung</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname(size=32, class="custom-input", placeholder="Vorname") }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lastname(size=32, class="custom-input", placeholder="Nachname") }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.street(size=32, class="custom-input", placeholder="Straße") }}<br>
            {% for error in form.street.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zip(size=32, class="custom-input", placeholder="PLZ") }}<br>
            {% for error in form.zip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city(size=32, class="custom-input", placeholder="Stadt") }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username(size=32, class="custom-input", placeholder="Benutzername") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email(size=32, class="custom-input", placeholder="E-Mail") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32, class="custom-input", placeholder="Passwort") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2(size=32, class="custom-input", placeholder="Passwort wiederholen") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='large-button') }}</p>
    </form>
    <hr>
    <p>Bereits ein Mitglied? <a href="{{ url_for('login') }}">Anmelden</a></p>
{% endblock %}
